/*
neon pink: #E73795
neon blue #83CEFF
bg gradient #211E3D #130B22
*/

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/Gothic_A1/GothicA1-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/Gothic_A1/GothicA1-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/Gothic_A1/GothicA1-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/Gothic_A1/GothicA1-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/Gothic_A1/GothicA1-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/Gothic_A1/GothicA1-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Nothing You Could Do";
    src: url("/fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nothing_you_could_doregular';
    src: url('fonts/Nothing_You_Could_Do/nothingyoucoulddo-regular-webfont.woff2') format('woff2'),
    url('fonts/Nothing_You_Could_Do/nothingyoucoulddo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #211E3D;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #211E3D;
    background: linear-gradient(to bottom, #211E3D, #130B22);
    font-family: 'Gothic A1', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

nav a, .default-a {
    color: white;
    text-decoration: none;
}

nav a:hover, .default-a:hover {
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
}

nav {
    color: white;
    font-size: 20px;
    font-weight: 300;
    background-color: #211E3DFC;
    box-shadow: 0px 0px 4px 0px #00000040;
    height: 91px;
    top: 0;
    position: sticky;
    z-index: 99;
    width: 100%;
    display: block;
}

@supports ((-webkit-backdrop-filter: blur(48px)) or (backdrop-filter: blur(48px))) {
    nav {
        background-color: #211E3DCC;
        -webkit-backdrop-filter: blur(48px);
        backdrop-filter: blur(48px);
    }
}

.nav-flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.nav-flex-item {
}

.nav-inner-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    align-content: center
}

.nav-inner-flex-item {
    margin-left: 33px;
    border-radius: 1em;
    text-align: center;
    flex: 1;
}

#small-logo {
    width: 63px;
    height: 63px;
    background-image: url("images/logo-small@2x.png");
    background-image: image-set(
            url("images/logo-small.png") 1x,
            url("images/logo-small@2x.png") 2x,
            url("images/logo-small@3x.png") 3x
    );
}

.nav-logo {
    margin: 0;
}

.nav-logo-text {
    margin-left: 26px;
    font-weight: 500;
}

@media only screen and (max-width: 1052px) {
    .nav-inner-flex-item {
        margin-left: 1em;
    }

    .nav-logo-text {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 975px) {
    .hide-at-975 {
        display: none;
    }
}

@media only screen and (max-width: 892px) {
    .hide-at-892 {
        display: none;
    }
    .nav-inner-flex-item {
        margin: 0.4em;
    }
}

#logo-container {
    max-width: 335px;
}

.bg-lines-container {
    width: 100%;
    z-index: 0;
    position: absolute;
}

.bg-line:nth-child(2) { background-color: rgba(64, 147, 201, 90%) }
.bg-line:nth-child(3) { background-color: rgba(64, 147, 201, 80%) }
.bg-line:nth-child(4) { background-color: rgba(64, 147, 201, 70%) }
.bg-line:nth-child(5) { background-color: rgba(64, 147, 201, 60%) }
.bg-line:nth-child(6) { background-color: rgba(64, 147, 201, 50%) }
.bg-line:nth-child(7) { background-color: rgba(64, 147, 201, 40%) }
.bg-line:nth-child(8) { background-color: rgba(64, 147, 201, 30%) }
.bg-line:nth-child(9) { background-color: rgba(64, 147, 201, 20%) }
.bg-line:nth-child(10) { background-color: rgba(64, 147, 201, 10%) }

.bg-line {
    margin-top: 39px;
    width: 100%;
    height: 68px;
    background-color: rgba(64, 147, 201, 1);
    z-index: 0;
    position: relative;
}

.tagline {
    font-family: "Gothic A1";
    font-weight: 900;
    font-size: 85px;
    position: relative;
    bottom: 68px;
    height: 100%;
    line-height: 85px;

    background-color: #E73795;
    background-image: linear-gradient(#F2C707, #F0A223);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    z-index: 10;
}

.tagline-shadow {
    position: relative;
    bottom: 0px;
    z-index: 2;
    text-shadow: 0px 8px 8px #0000004D;
}

.tagline2 {
    background-image: linear-gradient(#EF8D34, #EC6850);
}

.tagline3 {
    background-image: linear-gradient(#EB5261, #E92D7D);
}

.logo-container {
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

.logo-flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
    align-content: center;
    position: relative;
}

.logo-flex-item {
    flex: 2;
    min-height: 100px;
}

.logo-flex-item:first-child {
    flex: 3;
}

#logo-image {
    width: 306px;
    height: 282px;
    z-index: 2;
    position: relative;
    margin-top: 146px;
    background-image: url("images/in-site-logo@2x.png");
    background-image: image-set(
        url("images/in-site-logo.png") 1x,
        url("images/in-site-logo@2x.png") 2x,
        url("images/in-site-logo@3x.png") 3x
    );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

@media only screen and (max-width: 1080px) {

    .bg-line {
        margin-top: 31px;
        height: 54px;
    }

    .tagline {
        bottom: 54px;
        font-size: 68px;
        line-height: 68px;
    }

    #logo-image {
        margin-top: 87px;
        transform: scale(0.8, 0.8);
    }
}

@media only screen and (max-width: 866px) {

    .bg-line {
        margin-top: 25px;
        height: 43px;
    }

    .tagline {
        bottom: 43px;
        font-size: 54px;
        line-height: 54px;
    }

    #logo-image {
        transform: none;
        width: 195px;
        height: 180px;
        margin-top: 93px;
    }
}

@media only screen and (max-width: 650px) {

    .bg-line {
        margin-top: 20px;
        height: 34px;
    }

    .tagline {
        bottom: 34px;
        font-size: 43px;
        line-height: 43px;
    }

    #logo-image {
        transform: none;
        width: 157px;
        height: 145px;
        margin-top: 73px;
    }

    .logo-flex-item:first-child {
        flex: 5;
    }

    .tagline-shadow {
        text-shadow: 0px 6px 6px #0000004D;
    }
}

@media only screen and (max-width: 560px) {

    .bg-line {
        margin-top: 20px;
        height: 34px;
    }

    .tagline {
        bottom: 34px;
        font-size: 43px;
        line-height: 43px;
    }

    #logo-image {
        transform: none;
        width: 173px;
        height: 160px;
        margin-top: 250px;
    }

    .logo-flex-item:first-child {
        display: none;
    }

    .tagline-shadow {
        text-shadow: 0px 4px 4px #0000004D;
    }
}

.tagline-shadow {
    bottom: 0px;
}

.content-wrapper {
    padding-left: 52px;
    padding-right: 52px;
    max-width: 1096px;
    margin: 0 auto;
    display: block;
}

section {
    color: white;
    margin-top: 141px;
    z-index: 10;
    position: relative;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin-top: 574px;
    flex-wrap: wrap;
    grid-row-gap: 63px;
    padding-left: 52px;
    padding-right: 52px;
}

.card-base {
    background-color: #211E3DFC;
    border-radius: 8px;
    border: 1px solid #E7379580;
    box-shadow: 0px 0px 8px #E73795;
}

.card {
    padding: 31px 23px 21px 25px;
    max-width: 277px;
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.card-clickable {
    transition: all 0.1s ease-in-out;
}

.card-clickable:hover {
    box-shadow: 0px 0px 12px #E73795;
    border: 1px solid #E73795;
    transform: scale(1.025, 1.025);
}

.card-clickable, .card-clickable:hover {
    color: white;
    text-decoration: none;
    text-shadow: none;
}

.card ul {
    padding-left: 25px;
    padding-top: 10px;
}

.card ul li {
    padding-bottom: 10px;
}

.card h1 {
    text-align: center;
    margin: 0 auto;
}

.card-image {
    margin: auto;
    display: block;
    flex: 1;
    padding-bottom: 10px;
    overflow: visible;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#pepe-chart-up {
    min-width: 194px;
    min-height: 128px;
    background-image: url("images/pepe-chart-up@2x.png");
    background-image: image-set(
            url("images/pepe-chart-up.png") 1x,
            url("images/pepe-chart-up@2x.png") 2x,
            url("images/pepe-chart-up@3x.png") 3x
    );
}

#vitalik-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#vitalik {
    display: block;
    width: 103px;
    height: 234px;
    transform: translateX(-7px);
    background-image: url("images/vitalik@2x.png");
    background-image: image-set(
            url("images/vitalik.png") 1x,
            url("images/vitalik@2x.png") 2x,
            url("images/vitalik@3x.png") 3x
    );
    background-size: contain;
    animation: animateVitalik 9s linear infinite;
}

#italik {
    display: block;
    position: absolute;
    transform: translate(11px, -1px);
    width: 102px;
    height: 230px;
    background-image: url("images/italik@2x.png");
    background-image: image-set(
            url("images/italik.png") 1x,
            url("images/italik@2x.png") 2x,
            url("images/italik@3x.png") 3x
    );
    background-size: contain;
    animation: animateItalik 9s linear infinite;
}

@keyframes animateVitalik {
    0% { opacity: 40%; }
    1% { opacity: 100%; }
    2% { opacity: 50%; }
    3% { opacity: 100%; }
    4% { opacity: 40%; }
    5% { opacity: 100%; }
    55% {opacity: 100%; }
    57% { opacity: 40%; }
    100% { opacity: 40%; }
}

@keyframes animateItalik {
    0% { opacity: 40%; }
    50% { opacity: 40%; }
    51% { opacity: 100%; }
    52% { opacity: 40%; }
    53% { opacity: 100%; }
    54% { opacity: 40%; }
    55% { opacity: 100%; }
    89% {opacity: 100%; }
    90% {opacity: 40%; }
    91% {opacity: 100%; }
    92% {opacity: 40%; }
    100% { opacity: 40%; }
}

@supports ((-webkit-backdrop-filter: blur(48px)) or (backdrop-filter: blur(48px))) {
    .card {
        background-color: #211E3DCC;
        -webkit-backdrop-filter: blur(48px);
        backdrop-filter: blur(48px);
    }
}

@media only screen and (max-width: 1125px) {
    .card {
        /*padding: 31px 23px 21px 25px;*/
        padding: 31px 18px 21px 20px;
        max-width: 268px;
    }
}

@media only screen and (max-width: 1080px) {
    .cards {
        margin-top: 456px;
    }
}

@media only screen and (max-width: 1055px) {
    .card {
        padding: 31px 23px 21px 25px;
        max-width: 277px;
    }
}

@media only screen and (max-width: 1055px) {
    .cards {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 866px) {
    .cards {
        margin-top: 365px;
    }
}

@media only screen and (max-width: 660px) {
    .cards {
        margin-top: 288px;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        margin-top: 452px;
    }
}

.cards-roadmap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin-top: 0px;
    flex-wrap: wrap;
    grid-row-gap: 63px;
}

.cards-roadmap .card h1 {
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
    font-family: 'Gothic A1', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
    line-height: 38px;
}

.cards-roadmap .card h2 {
    text-align: center;
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
    font-family: 'Gothic A1', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

.wojak-container {
    display: flex;
    align-content: end;
}

#roadmap {
    margin-bottom: 80px;
    padding-bottom: 80px;
}

#stars {
    background-image: url("images/stars@2x.png");
    background-image: image-set(
            url("images/stars.png") 1x,
            url("images/stars@2x.png") 2x,
            url("images/stars@3x.png") 3x
    );
    background-repeat: repeat;
    background-size: contain;
    margin: 0 auto;
}

#roadmap .content-wrapper {

}

#moon {
    display: block;
    position: relative;
    background-image: url("images/moon@2x.png");
    background-image: image-set(
            url("images/moon.png") 1x,
            url("images/moon@2x.png") 2x,
            url("images/moon@3x.png") 3x
    );
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 349px 695px;
    overflow: hidden;
}

.comet {
    background-image: url("images/wagmi@2x.png");
    background-image: image-set(
            url("images/wagmi.png") 1x,
            url("images/wagmi@2x.png") 2x,
            url("images/wagmi@3x.png") 3x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: 107px 78px;
    overflow: visible;
    position: absolute;
    width: 107px;
    height: 78px;
    z-index: 2;
    bottom: 77%;
    left: 77%;
}

#wagmi {
    animation: animatedBackground 20s linear infinite;
}

#gm {
    background-image: url("images/gm@2x.png");
    background-image: image-set(
            url("images/gm.png") 1x,
            url("images/gm@2x.png") 2x,
            url("images/gm@3x.png") 3x
    );
    bottom: 0%;
    left: 30%;
    animation: animatedBackgroundCenter 20s linear infinite;
}

@keyframes animatedBackground {
    0% { opacity: 0%; bottom: 0%; left: 0%; }
    2% { opacity: 100%; }
    43% { opacity: 100%; }
    45% { opacity: 0%; }
    50% { bottom: 79%; left: 79%; opacity: 0%; }
    100% { bottom: 79%; left: 79%; opacity: 0%; }
}

@keyframes animatedBackgroundCenter {
    0% { opacity: 0%; bottom: 0%; left: 30%; }
    40% { opacity: 0%; bottom: 0%; left: 30%; }
    42% { opacity: 100%; }
    76% { opacity: 100%; }
    78% { opacity: 0%; }
    83% { opacity: 0%; bottom: 79%; left: 79%; }
    100% { opacity: 0%; bottom: 79%; left: 79%; }
}

#neon-wojak {
    width: 159px;
    height: 143px;
    background-image: url("images/neon-wojak@2x.png");
    background-image: image-set(
            url("images/neon-wojak.png") 1x,
            url("images/neon-wojak@2x.png") 2x,
            url("images/neon-wojak@3x.png") 3x
    );
}

#wojak-arrows-up {
    margin: auto;
    margin-bottom: 0px;
    width: 131px;
    height: 179px;
    background-image: url("images/wojak-arrows-up@2x.png");
    background-image: image-set(
            url("images/wojak-arrows-up.png") 1x,
            url("images/wojak-arrows-up@2x.png") 2x,
            url("images/wojak-arrows-up@3x.png") 3x
    );
}

#ido {
    margin-top: -40px;
}

#ido a {
    color: #83CEFF;
    text-decoration: none;
}

#ido a:hover {
    color: #83CEFF;
    text-decoration: none;
    text-shadow: 0px 0px 8px #83CEFF;
}

@media only screen and (max-width: 1055px) {
    .cards-roadmap {
        justify-content: space-around;
    }
}
#roadmap .content-wrapper {
    position: relative;
}

#roadmap-lines-wrapper {
    overflow: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#roadmap-lines-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 151px auto;
    width: 60%;
    height: 112px;
}

.roadmap-line {
    background-color: #E73795;
    width: 1px;
    box-shadow: 0px 0px 8px #E73795;
}

#timeline-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 33px;
    margin-bottom: 18px;
}

.timeline-item {
    color: #8E8C9A;
    font-size: 18px;
    font-weight: 500;
}

#timeline-line {
    width: 100%;
    height: 1px;
    background-color: #E73795;
    box-shadow: 0px 0px 8px #E73795;
    margin-bottom: 112px;

}

@media only screen and (max-width: 1055px) {
    #roadmap {
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    #roadmap .content-wrapper {
        min-width: 1100px;
    }
}

.std-content-flex-container {
    display: flex;
    margin: 0 auto;
}

.std-content-flex-item-right {
    flex: 1;
}

.std-content-flex-item-left {
    flex: 1;
}

.std-content-flex-container {
    gap: 5%;
}

#ido .std-content-flex-item-left {
    flex: 2;
}

#ido .std-content-flex-container {
    gap: 0px;
}


#ido .std-content-flex-item-right img {
    display: table;
    margin: 0 auto;
}

.bull-pepe {
    width: 234px;
    height: 178px;
    background-image: url("images/bull-pepe@2x.png");
    background-image: image-set(
            url("images/bull-pepe.png") 1x,
            url("images/bull-pepe@2x.png") 2x,
            url("images/bull-pepe@3x.png") 3x
    );
}

#bull-pepe-float {
    display: none;
    float: right;
}

@media only screen and (max-width: 1055px) {
    #ido .std-content-flex-container .std-content-flex-item-right:last-child {
        display: none;
    }
    #bull-pepe-float {
        display: block;
    }
}

@media only screen and (max-width: 385px) {
    #bull-pepe-float {
        float: none;
        margin: 0 auto;
    }
}

.grid-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 23px;
}

.grid-flex-item {
    flex: 1;
    min-width: 150px;
    height: 65px;
    padding: 8px 18px 8px 18px;
    position: relative;
    max-width: 45%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-flex-item p {
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
    margin: 0 auto;
}

#apps .std-content-flex-item-right {
    flex: 4;
}

#apps .grid-flex-item {
    min-width: 219px;
}

@media only screen and (max-width: 949px) {
    .std-content-flex-container {
        flex-direction: column-reverse;
    }

    .grid-flex-item {
        min-width: 175px;
    }

    .std-content-flex-item-left, #wallet .std-content-flex-item-right  {
        margin-top: 20px;
    }

    #wallet .std-content-flex-container {
        flex-direction: column;
    }

    #wallet .std-content-flex-item-left {
        margin-top: 0px;
    }

    #apps .grid-flex-item {
        min-width: auto;
        width: auto;
        max-width: unset;
    }
}

@media only screen and (max-width: 500px) {
    .grid-flex-item {
        min-width: 100px;
        height: 84px;
    }

    #apps .grid-flex-item {
        min-width: auto;
        width: auto;
        max-width: unset;
        height: 65px;
    }
}

@media only screen and (max-width: 382px) {
    .grid-flex-item {
        padding: 8px 16px 8px 16px;
    }
}

.team-flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
    gap: 5%;
}

.team-flex-item {
    flex: 1;
    margin-bottom: 43px;
}

.team-flex-item ul {
    max-width: 293px;
    color: #8E8C9A;
    padding-left: 60px;
    margin: 0 auto;
}

.team-flex-item h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
}

.team-flex-item ul li {
    font-weight: 400;
    font-size: 18px;
}

.team-flex-item a {
    color: #83CEFF;
    text-decoration: none;
}

.team-flex-item a:hover {
    color: #83CEFF;
    text-decoration: underline;
}

.icon-team {
    width: 188px;
    height: 188px;
    background-image: url("images/team-icon@2x.png");
    background-image: image-set(
            url("images/team-icon.png") 1x,
            url("images/team-icon@2x.png") 2x,
            url("images/team-icon@3x.png") 3x
    );
}

.icon-team-designer {
    background-image: url("images/team-designer@2x.png");
    background-image: image-set(
            url("images/team-designer.png") 1x,
            url("images/team-designer@2x.png") 2x,
            url("images/team-designer@3x.png") 3x
    );
}

@media only screen and (max-width: 980px) {
    .team-flex-item ul { padding-left: 20px; }
}

@media only screen and (max-width: 980px) {
    .team-flex-item ul { padding-left: 60px; }
}

@media only screen and (max-width: 436px) {
    .team-flex-item ul {
        padding-left: initial;
        max-width: 250px;
    }
}

section h1 {
    font-family: "Nothing You Could Do", "nothing_you_could_doregular";
    font-size: 48px;
    line-height: 64px;
    text-align: left;
    color: #E73795;
    text-shadow: 0px 0px 6px #E73795;
    font-weight: normal;
    font-style: normal;
    z-index: 10;
}

footer {
    background-color: #211E3D;
    color: white;
    margin-top: 98px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.footer-flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    gap: 5%;
}

.footer-section {
}

footer div {
    font-weight: 700;
    color: #8E8C9A;
}

footer h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
}

footer ul {
    font-weight: 400;
    margin-top: 18px;
    margin-left: 0px;
    padding-left: 15px;
}

.logo-footer {
    width: 246px;
    height: 246px;
    background-image: url("images/logo-footer@2x.png");
    background-image: image-set(
        url("images/logo-footer.png") 1x,
        url("images/logo-footer@2x.png") 2x,
        url("images/logo-footer@3x.png") 3x
    );
}

footer h3 a {
    color: #83CEFF;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #8E8C9A;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #83CEFF;
    text-shadow: 0px 0px 8px #83CEFF;
}

@media only screen and (max-width: 550px) {
    .footer-section:first-child {
        min-width: 80%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000019;
    width: 10%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFFFFF19;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF30;
}

@media only screen and (max-width: 706px) {
    .content-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.first-content-p {
    margin-top: 0px;
}

#promo-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 141px;

}

@media only screen and (min-width: 1200px) {
    #promo-video-container {
        padding-bottom: 675px;
    }
}

#promo-video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 675px;
}