.footer-wrapper {
    background-color: black;
    background-image: url("/public/images/footer-bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover;
    transition: all 0.1s ease-in-out;
}

.footer-spacer {
    margin: 0 auto;
    aspect-ratio: 16 / 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer-content-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#footer-logo-img {
    width: 335px;
    margin: 0 auto;
}

.footer-links ul, .footer-links ul li {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.footer-links-one-row ul {
    margin-top: 16px;
}

.footer-links ul li {
    display: inline-block;
    transition: all 0.1s ease-in-out;
    margin: 12px;
}

.footer-links ul li:hover {
    transform: scale(1.25, 1.25);
}

.footer-links-two-rows {
    display: none;
}

.footer-links-two-rows ul:last-child {
    margin-top: 4px;
}

.footer-links-two-rows ul li, .footer-links-text ul li  {
    margin-top: 4px;
}
@media only screen and (max-width: 523px) {
    .footer-links-one-row { display: none; }
    .footer-links-two-rows { display: unset; }
    .footer-content-wrapper .tagline { font-size: 26px }
}

.footer-links-text ul li a {
    color: #FFFFFF50;
}

.footer-links-text ul li:hover {
    transform: unset;
}
