.mission {
    border: #0D7FB8 solid 2px;
    padding: 70px 80px 94px 80px;
}

.mission-h1-wrapper {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 64px;
}

.mission h1 {
    text-transform: uppercase;
    background: linear-gradient(0deg, #9C4EA6 17.4%, #BA2C96 37.79%, #D01389 59.97%, #DD0582 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    min-height: 32px;
    line-height: 32px;
    padding-bottom: 8px;
    margin: 0 auto;
    margin-bottom: 4px;
}


.mision-h-line-thick, .mision-h-line-thin {
    background: #F0328E;
    opacity: 0.8;
    height: 4px;
    margin-bottom: 4px;
}

.mision-h-line-thick {
    height: 8px;
}

.mission-content {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.mission-content-container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 12px;

}

.mission-content-container img {
    margin-bottom: 12px;
}

a {
    color: #78D63A;
}

@media only screen and (max-width: 1260px) {
    .mission-content{
        flex-direction: column;
    }

    .mission-content-container {
        width: unset;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mission-content-container img {
        margin-right: 16px;
        width: 50%;
    }

}

@media only screen and (max-width: 1000px) {
    .mission-content-container {
        width: unset;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .mission-content-container img {
        margin: 0 auto;
        width: 100%;
        max-width: 512px;
    }
}

@media only screen and (max-width: 700px) {
    .mission {
        padding: 70px 16px 94px 16px;
    }
}
