.products-wrapper {
    padding-bottom: 104px;
    margin-bottom: 0px;
}

.products-cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 63px;
}

.products-card {
    border: white solid 3px;
    border-radius: 20px;
    width: 32%;
    transition: all 0.1s ease-in-out;
    min-height: 680px;
    display: flex;
}

.products-card:hover {
    transform: scale(1.025, 1.025);
}

.products-card a {
    display: block;
    border: black solid 6px;
    padding: 16px 16px 16px 16px;
    border-radius: 20px;
    min-width: 100%;
    min-height: 100%;

    background: linear-gradient(328deg, #223E7B 27.43%, #3461BE 100%);
    box-shadow: inset -12.5221px -20.0396px 23.6302px rgba(31, 58, 113, 0.5), inset 12.5221px 20.0396px 23.6302px rgba(54, 102, 199, 0.5);
}

.products-card a:hover {
    text-decoration: none;
}

.products-card h1, .products-wrapper h3 {
    color: #F08D1D;
}

.products-card ul {
    text-align: left;
    color: white;
}

.products-card li {
    margin-top: 12px;
}

.products-card img {
    max-width: 160px;
}

.products-description {
    text-align: left;
    margin-top: 42px;
}

.products-description h3 {
    display: inline;

}