.line-horizontal-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.line-horizontal-left, .line-horizontal-right {
    display: block;
    width: 40%;
    height: 3px;
    background-color: #10B0A8;
    overflow: visible;
    position: relative;
}

.line-horizontal-left-diamond, .line-horizontal-right-diamond {
    margin: 0 auto;
    position: absolute;
    color: #10B0A8;
    top: -10.5px;
    right: 0;
    z-index: 100;
    transform: translateX(3px);
}

.line-horizontal-right-diamond {
    right: unset;
    left: 0;
    transform: translateX(-3px);
}

.line-vertical-container {
    display: flex;
    justify-content: space-between;
    overflow: visible;
}

.line-vertical {
    width: 3px;
    min-width: 3px;
    display: block;
    background-color: #10B0A8;
}

.roadmap {
}

.roadmap-line-top {
    width: 30%;
}

#roadmap-logo {
    position: relative;
    width: 40%;
    height: 3px;
    overflow: visible;
}

#roadmap-logo img {
    position: absolute;
    width: 133.89771943%;
    margin: 0 auto;
    left: 3%;
    right: 0;
    transform: translateY(-55%);
}

.roadmap-content {
    margin: 42px auto;
    margin-top: 196px;
    margin-bottom: 122px;
}

/* ================================== */

#roadmap-lines-wrapper {
    overflow: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#roadmap-lines-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 151px auto;
    width: 60%;
    height: 112px;
}

.roadmap-line {
    background-color: #E73795;
    width: 1px;
    box-shadow: 0px 0px 8px #E73795;
}

#timeline-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 33px;
    margin-bottom: 18px;
}

.timeline-item {
    color: #8E8C9A;
    font-size: 18px;
    font-weight: 500;
}

#timeline-line {
    width: 100%;
    height: 1px;
    background-color: #E73795;
    box-shadow: 0px 0px 8px #E73795;
    margin-bottom: 112px;

}

/* ================================== */

.roadmap-cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.roadmap-card {
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(120, 214, 58, 0.1);
    box-shadow: 13px 13px 46px rgba(0, 0, 0, 0.18), inset 0px 2px 4px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
}

.roadmap-card ul {
    text-align: left;
}