.line-horizontal-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.line-horizontal-left, .line-horizontal-right {
    display: block;
    width: 40%;
    height: 3px;
    background-color: #10B0A8;
    overflow: visible;
    position: relative;
}

.line-horizontal-left-diamond, .line-horizontal-right-diamond {
    margin: 0 auto;
    position: absolute;
    color: #10B0A8;
    top: -10.5px;
    right: 0;
    z-index: 100;
    transform: translateX(3px);
}

.line-horizontal-right-diamond {
    right: unset;
    left: 0;
    transform: translateX(-3px);
}

.line-vertical-container {
    display: flex;
    justify-content: space-between;
    overflow: visible;
    position: relative;
}

.line-vertical {
    width: 3px;
    min-width: 3px;
    display: block;
    background-color: #10B0A8;
}

.roadmap {

}

.roadmap-line-top {
    width: 31.202487905%;
}

#roadmap-logo {
    position: relative;
    width: 37.59502419%;
    height: 3px;
    overflow: visible;
}

#roadmap-logo img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(-55%);
}

@media only screen and (max-width: 666px) {
    .roadmap-line-top { width: 10%; }
    #roadmap-logo { width: 80%; }
}

#roadmap-content-wrapper {
    margin: 42px auto;
    margin-top: 180px;
    margin-bottom: 122px;
    width: 90%;
    overflow: scroll visible;
}

.roadmap-content {
    margin: 0 auto;
    width: 100%;
    min-width: 1100px;
    overflow: visible;
}

#roadmap-title {
    position: absolute;
    top: 13.5%;
    left: 5%;
    color: #10B0A8;
}

#roadmap-lines-wrapper {
    overflow: visible;
    display: flex;
    justify-content: space-around;
    border-top: solid 3px #10B0A8;
    margin: 0 auto;
}

.roadmap-line {
    background-color: #10B0A8;
    width: 3px;
    height: 90px;
}

#timeline-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 10px;
}

.timeline-item {
    font-family: 'Naoko AA';
    font-size: 15px;
    font-weight: 600;
}

.roadmap-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.roadmap-card {
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(120, 214, 58, 0.1);
    box-shadow: 13px 13px 46px rgba(0, 0, 0, 0.18), inset 0px 2px 4px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
}

.roadmap h1 {
    color: #10B0A8;
}

.roadmap h2 {
    font-family: 'Naoko AA';
    font-weight: normal;
    font-size: 20px;
}

.roadmap-card ul {
    text-align: left;
    line-height: 24px;
}

.roadmap-card li {
    margin-top: 12px;
}

.roadmap-card-image {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.roadmap-card-image img {
    margin: 0 auto;
    max-width: 180px;
}

@media only screen and (max-width: 700px) {
    #roadmap-content-wrapper {
        margin-top: 100px;
        margin-bottom: 61px;
    }

    #roadmap-title {
        top: 7%;
        left: 5%;
    }
}