.vitalik-container {
    margin: 0 auto;
    display: block;
    position: relative;
}

.vitalik-container img {
    margin: 0 auto;
    position: absolute;
    left: 0; right: 0;
}

.vitalik-container img:first-child {
    animation: animateVitalik 9s linear infinite;
}

.vitalik-container img:last-child {
    animation: animateItalik 9s linear infinite;
}

@keyframes animateVitalik {
    0% { opacity: 40%; }
    1% { opacity: 100%; }
    2% { opacity: 50%; }
    3% { opacity: 100%; }
    4% { opacity: 40%; }
    5% { opacity: 100%; }
    57% {opacity: 100%; }
    59% { opacity: 40%; }
    100% { opacity: 40%; }
}

@keyframes animateItalik {
    0% { opacity: 40%; }
    50% { opacity: 40%; }
    51% { opacity: 100%; }
    52% { opacity: 40%; }
    53% { opacity: 100%; }
    54% { opacity: 40%; }
    55% { opacity: 100%; }
    89% {opacity: 100%; }
    90% {opacity: 40%; }
    91% {opacity: 100%; }
    92% {opacity: 40%; }
    100% { opacity: 40%; }
}