.wallet, .wallet-text-container, .wallet-left-text, .wallet-right-text {
    display: flex;
}

.wallet {
    flex-direction: column;
}

.wallet-tvs {
    display: flex;
    max-height: 220px;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
}

.wallet-tvs img {
    width: 23%;
}

.wallet-text-container {
    align-items: flex-start;
    justify-content: center;
}

.wallet-section-meme-container {
    padding-top: 20px;
}

.wallet-left-text, .wallet-right-text {
    flex-direction: column;
}

.wallet-left-text {
    text-align: right;
    flex: 1;
}

.wallet-right-text {
    text-align: left;
    flex: 1;
}

@media only screen and (max-width: 800px) {
    .wallet-text-container {
        flex-direction: column;
    }

    .wallet-left-text {
        text-align: left;
    }

    .wallet-tvs {
        row-count: 2;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}


@media only screen and (max-width: 700px) {
    .wallet-tvs {
        margin-top: 16px;
        margin-bottom: 16px;
        flex-wrap: wrap;
        max-height: unset;
    }
}

@media only screen and (max-width: 500px) {
    .wallet-tvs img {
        width: 47.5%;
        margin: 4px 4px 4px 4px;
    }
}