/* 100 */
/* 200 light */
/* 300 semilight */
/* 400 normal */
/* 500 */
/* 600 semibold */
/* 700 bold */
/* 800 extrabold */
/* 900 black */

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-Thin.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-ExtraLight.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-Light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-Medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-SemiBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Mono'),
  url('../public/fonts/RobotoMono/static/RobotoMono-Bold.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-ThinItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 200;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-ExtraLightItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-LightItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-Italic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-MediumItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  src: local('Roboto Mono'),
  url('../public/fonts/RobotoMono/static/RobotoMono-SemiBoldItalic.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: bold;
  src: local('Roboto Mono'),
      url('../public/fonts/RobotoMono/static/RobotoMono-BoldItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: 200;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-01-Light.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: 300;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-02-Semilight.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: normal;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-03-Regular.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: 600;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-04-Medium.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: bold;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-05-Bold.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: 800;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-06-Extrabold.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: normal;
  font-weight: 900;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-07-Black.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: 200;
  src: local('Naoko AA'),
    url('../public/fonts/Naoko/AA_Naoko-01-Light-italic.otf')
    format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: 300;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-02-Semilight-italic.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: normal;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-03-Regular-italic.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: 600;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-04-Medium-italic.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: bold;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-05-Bold-italic.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: 800;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-06-Extrabold-italic.otf')
  format('opentype');
}

@font-face {
  font-family: 'Naoko AA';
  font-style: italic;
  font-weight: 900;
  src: local('Naoko AA'),
  url('../public/fonts/Naoko/AA_Naoko-07-Black-italic.otf')
  format('opentype');
}

html, body {
  background-color: black;
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

.main-content-wrapper {
  background: linear-gradient(to top, #2C3B68, #171515);
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1447px;
}

.section-padded {
  margin: 0 auto;
  padding-left: 42px;
  padding-right: 42px;
}

.section-v-margin {
  margin-top: 104px;
  margin-bottom: 104px;
}

.section-h-margin {
  margin-left: 42px;
  margin-right: 42px;
  max-width: 1363px;
}

.margin-auto {
  margin: 0 auto;
  width: 100%;
}

.margin-h-1 {
  max-width: 1447px;
}

.margin-h-2 {
  max-width: 1363px;
  margin-right: 42px;
  margin-left: 42px;
}

.margin-h-3 {
  max-width: 1279px;
  margin-right: 84px;
  margin-left: 842px;
}

.margin-v-1 {
  margin-top: 104px;
  margin-bottom: 104px;
}

@media only screen and (max-width: 700px) {
  .margin-h-2 {
    max-width: 668px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .margin-h-3 {
    width: 100%;
    margin-right: 16px;
    margin-left: 16px;
  }

  .margin-v-1 {
    margin-top: 104px;
    margin-bottom: 104px;
  }
}

h1 {
  font-family: 'Naoko AA';
  font-weight: 900;
  font-size: 46px;
}

h2 {
  font-family: 'Naoko AA';
  font-weight: 700;
  font-size: 37px;
}

h3 {
  font-family: 'Naoko AA';
  font-weight: 600;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #00000019;*/
  background: #FFFFFF19;
  width: 10%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF19;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF30;
}