@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono'),
        url('../../public/fonts/RobotoMono/static/RobotoMono-Regular.ttf')
        format('truetype');
}

h1 {
    font-family: 'Roboto Mono', "Linux Biolinum Keyboard";
    color: #0ccac4;
    font-weight: normal;
}

.section-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1447px;
}

.section-padded {
    margin: 0 auto;
    padding-left: 42px;
    padding-right: 42px;
}

.section-v-margin {
    margin-top: 104px;
    margin-bottom: 104px;
}
