@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono'),
        url('../../public/fonts/RobotoMono/static/RobotoMono-Regular.ttf')
        format('truetype');
}

h1 {
    font-family: 'Naoko AA';
    font-weight: 900;
    font-size: 46px;
}

h2 {
    font-family: 'Naoko AA';
    font-weight: 700;
    font-size: 37px;
}

h3 {
    font-family: 'Naoko AA';
    font-weight: 600;
    font-size: 24px;
}

.section-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1447px;
}

.section-padded {
    margin: 0 auto;
    padding-left: 42px;
    padding-right: 42px;
}

.section-v-margin {
    margin-top: 104px;
    margin-bottom: 104px;
}

.section-h-margin {
    margin-left: 42px;
    margin-right: 42px;
    max-width: 1363px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}